@import '../variables';

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  &__input{
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    padding: 12px 20px;
    padding-left: 40px;
    outline: none;
    width: 400px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.3s all ease;
    &:focus {
      border: 1px solid rgba($color: #000000, $alpha: 0.4);
    }
  }

  &__cart {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
